<!doctype html>
<html>
	<head>
		<meta charset='UTF-8'>
		<title>Router Finder</title>
		<link rel="stylesheet" type="text/css" href="/static/routeFinder/css/reset.css">

		<link rel="stylesheet" type="text/less" href="/static/routeFinder/less/style.less">
		
		<!-- Less -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.min.js"></script>
	</head>

	<body class="bodyContainer">
		<header>
			<a class="brand" href="#">CMU Route</a>
			<div>
				<form>
					<div class="pick-box">
						<span>
							<a href="#">pick</a>
						</span>
						<input type="text" name="from" placeholder="From..">
					</div>
					<div class="pick-box">
						<span>
							<a href="#">pick</a>
						</span>
						<input type="text" name="from" placeholder="From..">
					</div>
					<a>Find</a>
				</form>
			</div>
			<div>
				<a href="#">Sign up</a>
				<a href="#">Sign in</a>
			</div>

		</header>
	</body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</html>
