@import (reference) "bootstrap.min.css";

.bodyContainer {
    background: url("/static/routeFinder/img/googleMapSample.jpg");
}


header>*{
	display: inline-block;
}

.pick-box{
	position: relative;
	display: inline-block;
}
.pick-box>a{
	// float: right;
	position: absolute;
	right: 10px;
	padding: 2px;
	text-decoration: none;
	background-color: gray;
}